<div class="container">
  <div class="headerContainer">
      <h1>Magic GitHub Explorer</h1>
  </div>
  <div class="mainContent">
    <div class="imageHolder">
      <img src="https://vignette.wikia.nocookie.net/lakewood-academy-highschool/images/8/81/Cat-cute-cute-cat-like-Favim.com-5094678.jpeg/revision/latest?cb=20180318025834" alt="cat photo">
    </div>
    <div class="textHolder">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non consectetur felis. Etiam rutrum justo vitae dolor malesuada laoreet. Nulla in turpis sagittis, rutrum sem vitae, lobortis nisi. Nullam hendrerit iaculis cursus. Nunc pulvinar congue velit. Integer ac orci facilisis, mattis turpis et, semper erat. Pellentesque vel felis porta, mattis tortor eget, fermentum purus. Proin volutpat magna lorem, vel dapibus ante dignissim id. Vestibulum mollis elit vel quam dignissim dapibus. Mauris eu pharetra est. In hac habitasse platea dictumst.

          Sed urna arcu, molestie tincidunt tellus sit amet, finibus imperdiet ligula. Proin feugiat, erat eget tempor pretium, enim neque luctus nulla, at lacinia elit dolor in lorem. Mauris est diam, tempus sed dolor eu, venenatis pulvinar ante. Vivamus vel velit ut velit tempus congue. Vivamus vel nibh varius eros aliquet pretium. Mauris a lectus vitae velit vestibulum pretium in a quam. Ut et velit sit amet odio facilisis ultrices.

      </p>
    </div>
  </div>
  
</div>